body 
{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

form, #display 
{
    width:50%;
}

form 
{
    text-align:center;
}

#display
{
    height: 100%;
}
textarea 
{
    width:100%;
    height: 100px;
    resize:vertical;
    box-sizing: border-box;
    
}

input[type="submit"] 
{
    margin-top:10px;
}